body {
    background-color: black;
}

header {
    color: white;
    list-style: none;
    
}

h1 {

}

nav {
    text-align: right;
}

li{
    display: inline;
    margin: 10px;
    

}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}