body {
    background-color: black;
    color: white;
}

header {
    color: white;
    list-style: none;
}

nav {
    text-align: right;
}

li {
    display: inline;
    margin: 10px;
    color: white;

}

img {
    position:static;
    width:100%;
    max-width: 100%;
}


main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: white;
}
